* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}





body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(background_image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

h1{
    font-weight: normal;
    text-align: center;
}

.form-container{
    width: 50%;
    min-width: 350px;
    max-width: 575px;
    padding: 45px 30px;
    background: hsla(200, 100%, 6%, 0.5);
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px
}

.input-group label{
    font-size: .9rem;
    font-weight: lighter;
}

.input-group input{
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    background: none;
    border-radius: 3px;
    background-color: hsla(201, 100%, 91%, 0.3);
}

.sign-in{
    margin-top: 1em;
    width: 100%;
    padding: 8px;
    background: hsla(201, 100%, 50%, .3);
    border: 1px solid hsl(201, 100%, 35%);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.sign-in:hover{
    background: hsla(201, 100%, 50%, .55)
}